{%extends 'vlog/base.html'%}

{% block content %}

          <!-- Rest of the content --><!-- Rest of the content --><!-- Rest of the content -->
          <section class="hero">
            <h1>Welcome to Richard Vlog</h1>
            <p>Transforming Education for a Better Future</p>
            <a href="#" class="cta-button">Learn More</a>
          </section>
          <section class="services">
            <h2>Our Services</h2>
            <div class="service-item">
              <img src="service1.png" alt="Service 1">
              <h3>Service 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="service-item">
              <img src="service2.png" alt="Service 2">
              <h3>Service 2</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="service-item">
              <img src="service3.png" alt="Service 3">
              <h3>Service 3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </section>
          <section class="about">
            <h2>live Chat</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ipsum eu dolor consectetur eleifend.</p>
            <a href="{% url 'Vlog-chat' %}" class="cta-button">JOIN CHAT</a>
          </section>
    
          <!-- Rest of the content --><!-- Rest of the content --><!-- Rest of the content -->


{% endblock %}
