{% extends 'vlog/base.html' %}

{% block content %}
      <!-- Rest of the content --><!-- Rest of the content --><!-- Rest of the content -->
      <div class="services-page">
        <h2>Our Services</h2>
        
        <div class="service">
            <h3>Service 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel quam lectus. Nunc vel mauris in urna maximus tincidunt. Etiam at ex id leo laoreet commodo.</p>
        </div>
        
        <div class="service">
            <h3>Service 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel quam lectus. Nunc vel mauris in urna maximus tincidunt. Etiam at ex id leo laoreet commodo.</p>
        </div>
        
        <div class="service">
            <h3>Service 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel quam lectus. Nunc vel mauris in urna maximus tincidunt. Etiam at ex id leo laoreet commodo.</p>
        </div>
        
        <div class="service">
            <h3>Service 4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel quam lectus. Nunc vel mauris in urna maximus tincidunt. Etiam at ex id leo laoreet commodo.</p>
        </div>
        
        <div class="book-appointment">
            <button> <a href="{% url 'Vlog-appointment' %}">Book an Appointment</a> </button>
        </div>
    </div>



      <!-- Rest of the content --><!-- Rest of the content --><!-- Rest of the content -->
{% endblock  %}